
body.login-body {
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #fff;
}


.login-box {
  background: #1e293b;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  width: 300px;
  text-align: center;
}

.login-box h2 {
  color: #c89b3c;
  margin-bottom: 25px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: none;
  border-radius: 8px;
  background: #020617;
  color: #fff;
  font-size: 14px;
  transition: 0.2s;
}

.login-box input:focus {
  outline: none;
  border: 1px solid #c89b3c;
  box-shadow: 0 0 8px rgba(200,155,60,0.4);
}

.login-box button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #c89b3c;
  color: #000;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.login-box button:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}
